/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------
// | 7      |  8  |  9  |
// | 4      |  5  |  6  |
// | 1      |  2  |  3  |
// | MO(1)  |  0  |  .  |
// ----------------------
            bindings = <
    &kp LS(F10) &kp LS(F9) &kp LC(F2)
    &kp LC(LS(F10)) &kp LC(LS(F9)) &kp LS(F6)
    &kp LA(F8) &kp LC(LS(F8)) &kp LA(F7)
    &mt LA(F1) NUMBER_1  &kp LC(F12) &kp LA(LC(H))
            >;
        };
    };
};

